# NOTE: deploy
# docker node update --label-add whisper=true `docker node inspect self --format "{{ .ID }}"`

services:
  whisper:
    image: ghcr.io/zerocluster/whisper
    depends_on: []
    init: true
    stop_grace_period: 5m

    deploy:
      replicas: 1
      placement:
        max_replicas_per_node: 1
        constraints:
          - "node.labels.whisper == true"
      # resources:
      #   reservations:
      #     generic_resources:
      #       - discrete_resource_spec:
      #           kind: NVIDIA-GPU
      #           value: 0

    command: run

    # secrets:
    #   - { source: whisper_env.yaml, target: /var/local/package/env.yaml }

    networks: [network]

    volumes:
      - { type: tmpfs, target: /dev/shm, tmpfs: { size: 1073741824 } }
      - { type: volume, source: whisper, target: /var/local/package/data }

    build:
      args:
        WHISPER_VERSION: latest # master
      secrets:
        - id=NPM_TOKEN_GITHUB,env=NPM_TOKEN_GITHUB

networks:
  network: ~

volumes:
  whisper: ~
